.card {
    position: relative;
    width: 200px;
    height: 250px;
}

.card.monster {
    background-image: url("//placehold.it/200x250/f00?text=");
}

.card.support {
    background-image: url("//placehold.it/200x250/00f?text=");
}

.card .icon {
    display: block;
    background-size: auto 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    color: #ffffff;
    text-shadow: -1px 0 0 #000000, 1px 0 #000000, 0 -1px 0 #000000, 0 1px 0 #000000;
    font-weight: bold;
    min-width: 15%;
    min-height: 30px;
    line-height: 30px;
    text-align: center;
}

.card .cost-1 {
    position: absolute;
    top: 0;
    left: 0;
}

.card .cost-2 {
    position: absolute;
    top: 0;
    right: 0;
}

.card .reward-1 {
    position: absolute;
    bottom: 0;
    left: 0;
}

.card .reward-2 {
    position: absolute;
    bottom: 0;
    right: 0;
}

.card .icon.attack {
    background-image: url("/img/icons/attack.png");
}

.card .icon.armour {
    background-image: url("/img/icons/armour.png");
}

.card .icon.health {
    background-image: url("/img/icons/health.png");
}

.card .icon.weapon {
    background-image: url("/img/icons/weapon.png");
}

.card .card-img {
    display: block;
    height: 40%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-image: url(//placehold.it/160x100.png?text=image);
}

.card .card-name {
    text-align: center;
    height: 15%;
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 0;
    background-color: crimson;
    color: white;
}

.card .card-family {
    text-align: center;
    min-width: 40%;
    height: 8%;
    margin: 0;
    padding-left: auto;
    padding-right: auto;
    background-color: dimgrey;
    color: white;
}

.card .card-effect {
    background-color: white;
    height: 30%;
    width: 100%;
    text-align: center;
    display: table;
}

.card .card-effect p {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.card .card-effect .keyword {
    font-weight: bold;
}